.header {
  border-bottom: 1px solid #ececec;
}

.header__box {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondaryTxtColor;
  text-decoration: none;

  transition: color $durationTime $timingFunction;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: $accentColor;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
