// :root {
//   --accent-color: #2196f3;
//   --main-txt-color: #212121;
//   --secondary-txt-color: #757575;
//   --contrast-txt-color: #ffffff;
//   --main-title-color: #212121;
//   --btn-hover-color: #188ce8;
//   --bg-color: #ffffff;
//   --icon-fill: #afb1b8;
//   --duration-time: 250ms;
//   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

$accentColor: #2196f3;
$mainTxtColor: #212121;
$secondaryTxtColor: #757575;
$contrastTxtColor: #ffffff;
$mainTitleColor: #212121;
$btnHoverColor: #188ce8;
$bgColor: #ffffff;
$iconFill: #afb1b8;
$durationTime: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
