.team {
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
}

.members-list {
  display: flex;
}

.member-item {
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.members-list .member-item:not(:last-child) {
  margin-right: 30px;
}

.member-item .content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.member-name {
  margin-bottom: 10px;
  font-weight: 500;
}

.member-position {
  display: block;
  margin-bottom: 16px;
  color: var(--secondary-txt-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--duration-time) var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .icon-social,
.social-link:focus .icon-social {
  fill: var(--contrast-txt-color);
}

.icon-social {
  fill: var(--icon-fill);

  transition: fill var(--duration-time) var(--timing-function);
}
